NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://ewallet:ewallet@localhost:5432/ewallet_db?schema=public"

JWT_ACCESS_SECRET="change-this-access-secret"
JWT_REFRESH_SECRET="change-this-refresh-secret"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

REDIS_URL="redis://localhost:6379"

THROTTLE_TTL_MS=60000
THROTTLE_LIMIT=60